body {
  background: linear-gradient(
    90deg,
    rgb(211, 141, 196) 0%,
    rgb(211, 141, 196) 3%,
    rgb(211, 141, 196) 3%,
    rgb(211, 141, 196) 60%,
    rgb(120, 64, 109) 100%
  );
  /* background-color: #f9f7fe;
      background-color: #d38dc4; */
  font-family: "Poppins", sans-serif;
}
a {
  color: #885df1;
}

.all-body-content {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/105/914/original/pink_skyline.jpg?1701715016);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  padding-bottom: 300px;
  border-radius: 15px;
  box-shadow: 0 60px 80px rgb(65, 50, 100, 0.3);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px;
}
.search-input {
  background-color: #f9f7fe;
  color: #885df1;
  border: none;
  font-size: 16px;
  padding: 20px;
  width: 80%;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  /* outline: 5px solid #78406d; */
}
.search-button {
  color: #78406d;
  width: 16%;
  font-size: 16px;
  background-color: pink;
  border: none;
  padding: 20px 30px;
  line-height: 1;
  border-radius: 15px;
  margin-left: 5px;
  display: block;
  margin: 0 auto;
}
.search-button:hover {
  color: pink;
  background-color: #78406d;
}
main {
  padding: 30px;
}

.city-name {
  color: #f9f7fe;
  font-size: 45px;
  margin: 0;
}
.city-details {
  text-transform: capitalize;
}

.city-details span {
  color: rgba(39, 33, 66, 0.9);
  font-size: 20px;
  font-weight: bolder;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 0 auto;
  margin-top: 100px;
}
.city-details strong {
  color: #f9f7fe;
}
.current-weather {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 20px;
}
.current-temp {
  font-size: 48px;
  padding: 30px;
}
.current-temp-value {
  font-size: 47px;
  font-weight: bold;
  color: rgba(39, 33, 66, 0.9);
}

#weather-icon {
  position: relative;
  top: 30px;
  line-height: 65px;
}

/* .current-temp-unit {
  color: rgba(39, 33, 66, 0.9);
  font-size: 55px;
  position: relative;
} */
#humidity-description,
#wind-description {
  color: #f9f7fe;
}

footer {
  text-align: center;
  color: rgba(39, 33, 66, 0.9);
  font-size: 18px;
  border-top: 1px solid #f9f7fe;
  padding: 15px;
}
.weather-forecast {
  color: rgba(39, 33, 66, 0.9);
}
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8 {
  display: flex;
  flex-direction: column;
  width: 60px;
  text-align: center;
  font-size: 20px;
}
.col-2:hover,
.col-3:hover,
.col-4:hover,
.col-5:hover,
.col-6:hover,
.col-7:hover,
.col-8:hover {
  background-color: #f9f7fe;
  border-radius: 6px;
  transition: all ease-in-out 250ms;
  opacity: 0.6;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weather-forecast-date {
  margin-top: 20px;
  padding: 20px 20px;
  font-size: 18px;
}
.weather-forecast-max {
  font-weight: 500;
}
.weather-forecast-min {
  font-weight: 300;
  opacity: 0.6;
}
